/* 2. 사이즈 만들기 */
.inner {
    max-width: 1200px;
    margin: 0 auto;
    /* 2-1 양쪽이 소리지르니깐 가운데 오게함 */
    padding: 0 15px;
    /* 2-2 양쪽 패딩 15씩 1170 */
}

/* 13. IR 카피에서 씀*/
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* 4. 가로배치 */
.wrapper {}

/* 외 - 비쥬얼 위에 메뉴고정
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    position: sticky;
    top: 0;
    background: #fff
    z-index: 999;
} */

.header .inner {
    display: flex;
    /* 5. 가로배치한다 */
    align-items: center;
    height: 100px;

}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    /* 메뉴 가로배치 */
    display: flex;
    gap: 40px;
}

/* 6. 메뉴바 만들기 */
.header .gnb>ul>li {
    position: relative;
    /* ★부모요소 기준 */
}

.header .gnb>ul>li>a {
    display: block;
    font-size: 18px;
}

.header .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    /* ★부모요소에 기준을 잡아야함 */
    top: 50%;
    left: -20px;
    width: 1px;
    height: 12px;
    background: #ddd;
    transform: translate(0, -50%);
}

.header .search {
    margin: 0 0 0 50px;
    /* 위치 조정 왼쪽 끝배치 */
}

/* 아이콘 불러올때 쉽게 이름 쓰는 방법 클래스 안잡고 태그로  */
.header .search i {
    font-size: 20px;
}

/* 7 슬라이더 만들기  */

.main_visual {
    position: relative;
    /* ♥기준 */
}

.main_visual .main_slide {}

.main_visual .main_slide figure {
    height: 600px;
    /* 박스 늘여놓는다 */
    position: relative;
    /* ☆기준잡기 */
}

.main_visual .main_slide .itm01 {
    background: url(../images/mainvisual01.jpg) no-repeat center center / cover;
}

.main_visual .main_slide .itm02 {
    background: url(../images/mainvisual02.jpg) no-repeat center center / cover;
}

.main_visual .main_slide .itm03 {
    background: url(../images/mainvisual03.jpg) no-repeat center center / cover;
}

/* <슬라이드> 7-1 라인에 맞게 이미지 가져다놓기 */
.main_visual .main_slide .slogan {
    /* 가운데오는 방법 */
    position: absolute;
    /* ☆기준잡기 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    padding: 0 15px;
}

.main_visual .main_slide .slogan strong {
    display: block;
    /* 박스 사이 공간 띄우기  */
    margin: 0 0 10px 0;
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* 글자뒤 그림자 옆 아래 번짐  */
}

/* 7-3 */
.main_visual .main_slide .slogan p {
    margin: 0 0 30px 0;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* 글자뒤 그림자 옆 아래 번짐  */
}

/* 8. 버튼 만들기 -정석임 (a는 인라인요소다)*/
.main_visual .main_slide .slogan a {
    display: inline-block;
    /* ★★display: inline-block 중요 ; 마진 패딩 먹여짐 */
    background: #333;
    color: #fff;
    padding: 3px 12px 5px 12px;
    /* 버튼만들기 공식 */
}

/* 8-1 슬라이드 2번째 폰트 검정으로 바꾸기 */
.main_visual .main_slide .itm02 .slogan strong {
    color: #444;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main_visual .main_slide .itm02 .slogan p {
    color: #444;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* 10. 버튼 만들기 */
.main_visual .dots {
    position: absolute;
    /* ♥기준잡아야함 */
    top: 50%;
    left: 50%;
    margin: 0 0 0 585px;
    transform: translate(-100%, -50%);
    border: 1px solid #ddd;
    background: #fff;
    user-select: none;
    /* 끌어도 안끌어짐 */
}

.main_visual .dots li {
    padding: 10px;
}

.main_visual .dots li~li {
    border-top: 1px solid #ddd;
}

.main_visual .dots .btn {
    cursor: pointer;
    /* 손가락모양 */
}

/* 12. 이전 다음으로 가기 */
.main_visual .arrows {
    display: none;
    /* 12-3 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
}

/* 12-3마우스 올라가면 좌우 화살표 생기는거  */
.main_visual:hover .arrows {
    display: block;
}

/* 12-2 화살표 서식 */
.main_visual .arrows i {
    font-size: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

/* 12-1 화살표 왼오 가기 서식 */
.main_visual .arrows .left {
    position: absolute;
    top: 0;
    left: 15px;

}

.main_visual .arrows .right {
    position: absolute;
    top: 0;
    right: 15px;
}

/* 14-1 피규어들 가로배치*/
.main_content {
    padding: 100px 0;
}

/* 14-2 tit 서식 */
.main_content .tit {
    margin: 0 auto 30px auto;
}

.main_content .tit h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.main_content .tit p {
    font-size: 15px;
    font-weight: 300;
}

.main_content .content {
    display: flex;
    gap: 30px;
}

.main_content .content figure {
    flex: 1;
    /* 동일한 기준으로 박스를 나눠갖는것 */
    text-align: center;
}

/* 15-1 제품제목 설명 */
.main_content .content figure .box {
    margin: 0 0 20px 0;
    border-radius: 50%;
    /* 16-4 내용물들이 동그랗게 됨 */
    overflow: hidden;
    /* 16-3 박스안에서만 늘어놨다줄어들엇다 */
}

.main_content .content figure strong {
    display: block;
    margin: 0 0 20px 0;
}

.main_content .content figure a {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 5px 12px;
}

/* 16 . 피규어 - 이미지 위에 마우스 올라가면 효과잇는거 */
.main_content .content figure img {
    transition: 0.5s;
    /* 16-2 커지는데 부드럽게해줌 */
}

.main_content .content figure:hover img {
    transform: scale(1.2);
    /* 16-1 */
}

/* 17-2 푸터꾸미기 */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    /* 푸터중간으로 가기 */
}

.footer .top {
    line-height: 80px;
    border-bottom: 1px solid #555;
}

.footer address {
    line-height: 80px;
    /* 높이 주기 */
}